body{
    margin:auto;
border: auto;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image: url(https://images.unsplash.com/photo-1618588507085-c79565432917?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmVhdXRpZnVsJTIwbmF0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);

background-size: cover;
background-repeat: no-repeat;
}

h2{
    text-align: center;
}

.imgg{
    text-align: center;
    margin: 12px 0px 12px 0px;
}
img.imm{
width: 30%;
border-radius: 70px;
}
.container{
    margin:auto;
 background-color: burlywood;
    width: 550px;
    height: 650px;
    border-radius: 10px;
    
}
.s{
    margin-bottom: 10px;
    margin-left: 10px;
    padding:10px;
    width: 200px;
}
.s1{
    margin-left: 10px;
    
    padding:10px;
    width: 200px;
}
.s4{
    background-color: blue;
    width: 70px;
    height: 30px;
   
}
.s5{
    background-color: gray;
float: right;
height: 30px;
width: 70px;
opacity: 0.8;
}
button:hover{
    opacity: 0.7;
    cursor: pointer;
}
    
.a{
   margin: auto;
}
.b{
  margin: auto;
}
button :hover {
    opacity: 0.2;
}